div#login {
  --version-text-size: 12px;
  background-color: var(--background-color);
  box-shadow: var(--card-shadow);
  margin: auto;
  padding: var(--spacing-size-d) 0;
  width: var(--login-width);
}

div.login-container {
  background-color: var(--login-background-color);
  box-sizing: border-box;
  height: 100%;
  padding: var(--login-padding-top) 0 0 0;
}

div#login > form > div.body, div#login > div.footer {
  padding: var(--spacing-size-d) var(--spacing-size-e);
}

div#login > div.header {
  border-bottom: var(--border);
  padding: var(--spacing-size-c) 0;
}

div#login > div.header > h1 {
  padding: var(--spacing-size-b) 0 0 0;
}

div#login > div.header > h4 {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-a) 0 0 0;
}

div#login > div.header > h4.error-message {
  color: var(--color-danger);
  text-align: center;
}

div#login > div.header > h1, div#login > div.header > h4 {
  font-weight: var(--font-weight-unset);
  margin: 0;
  text-align: center;
}

div#login > form > div.body > div.form-row {
  margin: var(--spacing-size-a) 0;
}

div#login > form > div.body > div.form-row > label,
div#login > form > div.body > div.form-row > input {
  width: 100%;
}

div#login > form > div.body > div.form-row > label {
  display: inline-block;
  font-size: var(--text-size-m);
  padding: 0 0 var(--spacing-size-a) 0;
}

div#login > form > div.body > div.form-row > input {
  border: var(--border);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  font-size: var(--text-size-m);
  padding: var(--spacing-size-c) var(--spacing-size-d);
}

div#login > form > div.body > div.form-row {
  display: inline-block;
  width: 100%;
}

div#login > form > div.footer {
  border-top: var(--border);
  display: flex;
  flex-direction: column;
  padding: var(--spacing-size-c) var(--spacing-size-e);
}

div#login > form > div.footer > button,
div#login > form > div.footer > div.forgot-password {
  display: inline-block;
}

div#login > form > div.footer > div.forgot-password {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-b) 0 0;
  text-align: center;
}

div#login > form > div.footer > div.forgot-password a {
  color: var(--color-primary);
  text-decoration: none;
}

div#login > form > div.footer > div.forgot-password a:hover {
  filter: var(--light-filter-a);
}

div#login div.footer span {
  font-size: var(--version-text-size);
}