@import url(./theme.css);

html,
body,
#app {
  background-color: var(--background-color);
  font-family: var(--font-family);
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
}

p {
  color: var(--color-notice);
}

div#app > div {
  height: 100%;
}

body {
  margin: 0;
}

input,
textarea,
select,
table,
div.loading h2,
div.score-box h1,
div.score-box h2,
div.score-box h3,
div.url-display,
div.panel,
div.audit-modal h3,
div.audit-trail-modal h3,
div.ip-list-modal h3,
div.report-modal h3,
div.definition-box li {
  color: var(--color-notice);
}

a {
  cursor: pointer;
  text-decoration: none;
}

form {
  font-size: var(--text-size-m);
}

form table.data-table tbody tr td.form-label {
  text-align: right;
  width: var(--form-label-width);
}

form table.data-table tbody tr {
  background-color: unset;
}

input:focus,
textarea:focus,
select:focus {
  outline: none;
}

.center-text, table.data-table th.center-text, table.data-table td.center-text {
  text-align: center;
}

table.data-table td.center-text {
  text-align: center;
}

.input-select {
  padding: var(--spacing-size-b);
  height: var(--input-text-height);
}

.input-text,
.input-select {
  border: var(--border);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
}

.input-text.input-md {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-b) var(--spacing-size-c);
}

.input-select {
  border: var(--border);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
}

.input-select.input-md {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-b) var(--spacing-size-c);
}

input.input-text {
  padding: var(--spacing-size-b);
  height: var(--input-text-height);
}

div.card form input.input-text {
  width: 100%;
}

.App {
  text-align: center;
}

.capitalize {
  text-transform: capitalize;
}

pre {
  text-align: left;
}

button:focus {
  outline: none;
}

.word-break {
  word-break: break-all;
  word-break: break-word;
  -ms-word-break: break-all;
}

.excerpt {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: var(--excerpt-width);
}

.flex {
  display: flex;
  justify-content: space-evenly;
}

div.flex.panels {
  margin: var(--spacing-size-e) 0;
}

pre {
  background-color: var(--breadcrumb-background-color);
  display: inherit;
  text-align: left;
}

.icon-dark,
.icon-light {
  vertical-align: top;
}

.icon-dark {
  fill: var(--icon-dark);
}

.icon-light {
  fill: var(--icon-light);
}

.icon-danger {
  fill: var(--color-danger);
}

.icon-primary {
  fill: var(--color-primary);
}

.icon-warning {
  fill: var(--color-warning);
}

.text-center,
table.data-table td.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

td.table-form-buttons {
  display: flex;
}

td.table-form-buttons a:not(:first-child),
td.table-form-buttons button:not(:first-child) {
  margin: 0 0 0 var(--spacing-size-b);
}

div.top-bar {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.color-danger {
  color: var(--color-danger);
}

.color-warning {
  color: var(--color-warning);
}

.color-notice {
  color: var(--color-success);
}

.color-primary {
  color: var(--color-primary);
}

.read-only {
  background-color: var(--breadcrumb-background-color);
}

div#login {
  --version-text-size: 12px;
  background-color: var(--background-color);
  box-shadow: var(--card-shadow);
  margin: auto;
  padding: var(--spacing-size-d) 0;
  width: var(--login-width);
  border-radius: 10px;
}

div.login-container {
  background-color: var(--login-background-color);
  box-sizing: border-box;
  padding: var(--login-padding-top) 0 0 0;
}

div#login > form > div.body, div#login > div.footer {
  padding: var(--spacing-size-d) var(--spacing-size-e);
}

div#login > div.header {
  padding: var(--spacing-size-c) 0;
}

div#login > div.header > h1 {
  padding: var(--spacing-size-b) 0 0 0;
}

div#login > div.header > h4 {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-a) 0 0 0;
}

div#login > div.header > h4.error-message {
  color: var(--color-danger);
  text-align: center;
}

div#login > div.header > h1, div#login > div.header > h4 {
  font-weight: var(--font-weight-unset);
  margin: 0;
  text-align: center;
}

div#login > form > div.body > div.form-row {
  margin: var(--spacing-size-a) 0;
}

div#login > form > div.body > div.form-row > label,
div#login > form > div.body > div.form-row > input {
  width: 100%;
}

div#login > form > div.body > div.form-row > label {
  display: inline-block;
  font-size: var(--text-size-m);
  padding: 0 0 var(--spacing-size-a) 0;
}

div#login > form > div.body > div.form-row > input {
  border: var(--border);
  border-radius: var(--button-border-radius);
  box-sizing: border-box;
  font-size: var(--text-size-m);
  padding: var(--spacing-size-c) var(--spacing-size-d);
}

div#login > form > div.body > div.form-row {
  display: inline-block;
  width: 100%;
}

div#login > form > div.footer {
  display: flex;
  flex-direction: column;
  padding: 0 var(--spacing-size-e);
}

div#login > form > div.footer > button,
div#login > form > div.footer > div.forgot-password {
  display: inline-block;
}

div#login > form > div.footer > div.forgot-password {
  font-size: var(--text-size-m);
  padding: var(--spacing-size-b) 0 0;
  text-align: center;
}

div#login > form > div.footer > div.forgot-password a {
  color: var(--color-primary);
  text-decoration: none;
}

div#login > form > div.footer > div.forgot-password a:hover {
  filter: var(--light-filter-a);
}

div#login div.footer span {
  font-size: var(--version-text-size);
}

div#login-link,
div#sign-up-link {
  padding: 20px 10px 10px 10px;
  text-align: center;
}

div#login-link a,
div#sign-up-link a {
  color: #21409a;
}

div#login-link a:hover,
div#sign-up-link a:hover {
  opacity: 0.5;
}

div.__404-container {
  background-color: var(--login-background-color);
  box-sizing: border-box;
  height: 100%;
}

div.__404-content {
  left: 50%;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%,-50%);
  width: var(--__404-content-width);
}

div.__404-content h1, div.__404-content h3, div.__404-content a {
  color: var(--font-color-light);
}

div.__404-content h1.larger {
  font-size: var(--__404-text-size);
  margin: 0 0 -40px;
}
div.__404-content h1 {
  font-size: var(--__404-not-found-text-size);
  margin: 0;
}

div.__404-content h3 {
  margin: var(--spacing-size-a) 0;
}

div.__404-content a {
  text-decoration: underline;
}

div.i-flex {
  display: inline-flex;
}

button.margin-auto {
  margin: 0 auto
}